/* Globals */
@import url('/css/globals.css');

/* Variables */
@import url('/css/variables.css');

/* Fonts */
@import url('/css/fonts.css');

/* Nav */
@import url('/css/navigations.css');

html {
  background: url('/starter-code/assets/destination/background-destination-desktop.jpg');
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -10;
}

/* Destinations - Moon */

#destination {
  width: 100%;
}

/* .destination_container > h5 {
  color: var(--white);
  margin: 100px 0;
}

.destination_container > h5 > strong {
  color: hsl(0, 0%, 25%);
  padding-right: 20px;
} */

.destination_main {
  width: 100%;
}

.destination_main > img {
  width: 445px;
  aspect-ratio: 1/1;
}

.destination_text_spacing {
  display: flex;
  flex-direction: column;
  width: 445px;
}

.destination_secondary_nav > ul {
  display: flex;
  list-style-type: none;
  position: relative;
  height: 34px;
  color: var(--light);
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2.7px;
  margin-bottom: 50px;
}

.destination_secondary_nav > ul li {
  cursor: pointer;
}

.destination_secondary_nav > ul li:not(:first-child) {
  padding-left: 40px;
}

.destination_secondary_nav_active {
  position: absolute;
  width: 41px;
  height: 3px;
  background: white;
  bottom: 0;
}

.destination_text_spacing > p {
  line-height: 1.6;
  margin-bottom: 50px;
}

.destination_line_break {
  width: 444px;
  height: 1px;
  background-color: #383B4B;
  margin-bottom: 20px;
}

.destination_statistics {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.destination_statistics > div {
  display: flex;
  flex-direction: column;
  width: 50%;
  color: white;
}

.subheading_2 {
  color: var(--light);
}

.destination_moon {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
}

.destination_mars {
  display: none;
  align-items: flex-start;
  justify-content: space-evenly;
}

.destination_europa {
  display: none;
  align-items: flex-start;
  justify-content: space-evenly;
}

.destination_titan {
  display: none;
  align-items: flex-start;
  justify-content: space-evenly;
}

.global_subheading {
  margin-bottom: 100px;
}

@media only screen and (max-width: 1200px) {

  html {
    background: url('/starter-code/assets/destination/background-destination-tablet.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    z-index: -10;
  }

  h2 {
    font-size: 80px;
  }

  .destination_moon {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .destination_mars {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .destination_europa {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .destination_titan {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  /* .destination_container > h5 {
    color: var(--white);
    font-size: 22px;
    margin: 10px 0 60px 0;
  }
  
  .destination_container > h5 > strong {
    color: hsl(0, 0%, 25%);
    padding-right: 20px;
  } */


  .destination_main > img {
    width: 300px;
    aspect-ratio: 1/1;
  }  

  .destination_text_spacing {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    width: 85%;
    text-align: center;
  }

  .destination_statistics {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 10%;
  }
  
  .destination_statistics > div {
    display: flex;
    flex-direction: column;
    width: 50%;
    color: white;
  }

  
}

@media only screen and (max-width: 768px) {
  html {
    background-image: url('/starter-code/assets/destination/background-destination-mobile.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -10;
  }

  /* .destination_container > h5 {
    color: var(--white);
    font-size: 16px;
    text-align: center;
  }
  
  .destination_container > h5 > strong {
    padding-right: 0;
  } */

  h2 {
    font-size: 60px;
  }

  .destination_main > img {
    width: 170px;
    aspect-ratio: 1/1;
  }  

  .destination_text_spacing {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .destination_line_break {
    width: 60%;
    height: 1px;
    background-color: #383B4B;
    margin-bottom: 20px;
  }
  
  .destination_secondary_nav > ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    position: relative;
    height: 34px;
    color: var(--light);
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2.7px;
    margin-bottom: 50px;
  }
  
  .destination_secondary_nav > ul li {
    cursor: pointer;
  }
  
  .destination_secondary_nav > ul li:not(:first-child) {
    padding-left: 15px;
  }
  
  .destination_secondary_nav_active {
    width: 36px;
  }

  .destination_statistics {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 10%;
  }

  .destination_statistics > div {
    padding-bottom: 30px;
  }
}