/* Globals */
@import url('/css/globals.css');

/* Variables */
@import url('/css/variables.css');

/* Fonts */
@import url('/css/fonts.css');

/* Nav */
@import url('/css/navigations.css');

/* Desktop */

/* Home Page */
#homepage::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url('/starter-code/assets/home/background-home-desktop.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -10;
}

.homepage-container {
  display: flex;
  position: relative;
  /* margin-top: 100px; */
  transform: translateY(50%);
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}

.homepage-container > div {
  max-width: 600px;
}

.homepage-container > div p {
  max-width: 70%;
}

p {
  font-size: 18px;
  letter-spacing: 1.8px;
}

h1 {
  font-size: 150px;
}



/* Explore Button */
#explore {
  font-family: 'Bellefair', serif;
  border: none;
  position: relative;
  border-radius: 50%;
  height: 274px;
  width: 274px;
  background-color: white;
  text-transform: uppercase;
  font-size: 32px;
  cursor: pointer;
}

#explore:hover {
  outline: solid 70px #24262F;
  transition: outline ease-out 0.1s;
}


/* Tablets */
@media only screen and (max-width: 1050px) {
  #homepage::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url('/starter-code/assets/home/background-home-tablet.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -10;
  }

  .homepage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    transform: translateY(5%);
    text-align: center;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-around;
  }
  
  .homepage-container > div {
    max-width: 600px;
  }
  
  .homepage-container > div p {
    max-width: 70%;
    font-size: 16px;
    margin: auto;
  }

  h1 {
    font-size: 150px;
  }

  h5 {
    font-size: 20px;
  }

  /* Explore Button */
  #explore {
    border: none;
    position: relative;
    border-radius: 50%;
    height: 242px;
    width: 242px;
    margin: 60px auto 0px auto;
    background-color: white;
    text-transform: uppercase;
    font-size: 32px;
    cursor: pointer;
  }
}

/* Mobile */
@media only screen and (max-width: 768px) {
  #homepage::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url('/starter-code/assets/home/background-home-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -10;
  }

  .homepage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    transform: translateY(5%);
    text-align: center;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-around;
  }

  h1 {
    font-size: 80px;
  }

  h5 {
    font-size: 16px;
  }

  p {
    font-size: 15px;
  }

  #explore {
    border: none;
    position: relative;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin: 60px auto 0px auto;
    background-color: white;
    text-transform: uppercase;
    font-size: 16px;
    cursor: pointer;
  }
}

