nav {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-around ;
  height: 150px;
  max-width: 100%;
  font-size: 16px;
  letter-spacing: 2.7px;
  color: white;
  text-transform: uppercase;
  max-width: 100%;
  font-family: 'Barlow Condensed', sans-serif;
}

#ul_nav > li{
  position: relative;
}

nav img {
  padding: 0 50px;
}

.nav-line {
  display: inline-block;
  position: relative;
  height: 1px;
  width: 20vw;
  background-color: #979797;
}

nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  padding-right: 10%;
  height: 96px;
  backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 0.04)
}

nav ul li {
  padding: 0 50px;
}

nav ul li strong {
  margin: 0 20px;
}

.nav-active::after {
  content: '';
  position: absolute;
  display: block;
  top: 50px;
  left: 50%;
  transform: translateX(-25%);
  margin: 0 auto;
  height: 3px;
  width: 85px;
  background: white;
}

#ul_nav li:hover:after {
  content: '';
  position: absolute;
  display: block;
  top: 50px;
  left: 50%;
  transform: translateX(-25%);
  margin: 0 auto;
  height: 3px;
  width: 85px;
  background: #979797;
}


/* Tablets */
@media only screen and (max-width: 1300px) {
  nav {
    display: flex;
    position: relative;
    align-items: flex-start;
    max-width: 100%;
    font-size: 16px;
    letter-spacing: 2.7px;
    color: white;
    text-transform: uppercase;
    max-width: 100%;
    font-family: 'Barlow Condensed', sans-serif;
  }

  nav img {
    padding: 30px 30px;
  }

  .nav-line {
    display: none;
  }

  nav ul {
    display: flex;
    align-items: right;
    justify-content: center;
    padding-right: 0%;
    height: 96px;
  }

  nav ul li {
    padding: 0 20px;
  }
}

/* Mobile */

@media only screen and (max-width: 768px) {

}